
/** Load special fonts **/
@font-face 
{
    font-family: BebasNeue;
    src: url(../fonts/BebasNeue.otf);
}

@font-face 
{
    font-family: Walkway;
    src: url(../fonts/WalkwayBold.ttf);
}

@font-face 
{
    font-family: Walkway;
    src: url(../fonts/WalkwayBlack.ttf);
    font-weight: bold;
}

@font-face 
{
    font-family: Walkway;
    src: url(../fonts/WalkwayObliqueBold.ttf);
    font-style: italic;
}

@font-face 
{
    font-family: Walkway;
    src: url(../fonts/WalkwayObliqueBlack.ttf);
    font-style: italic;
    font-weight: bold;
}

