# Apache configuration file (see httpd.apache.org/docs/2.2/mod/quickreference.html)

# This file contains URL rewriting rules for the application

# Enable rewrite engine
RewriteEngine  on

# Intercept rules like
# http://myserver/mypage
# and transform them into http://myserver/index.php?page=mypage&subpage=home
# where 'myserver' is the name of the server (written automatically), without
# the need of clarifying anything else.
# 'mypage' is instead what gets written immediately after the server name.
# The redirection rule redirects all traffic to index.php, which
# handles all requests and send them to the proper scripts.
# The [QSA] portion appends the remaining of the query to the rewriting
RewriteRule    ^([a-zA-Z0-9_-]+)$  index.php?page=$1&subpage=home [QSA]

# This rules intercepts all URLs like
# http://myserver/mypage/mysubpage 
# rewriting into http://myserver/index.php?page=mypage&subpage=mysubpage
RewriteRule    ^([a-zA-Z0-9_-]+)/([a-zA-Z0-9_-]+)$  index.php?page=$1&subpage=$2 [QSA]

# Error reporting
# php_flag  display_errors        on
# php_value error_reporting       2039

#Error pages
ErrorDocument 403 /fisherman-locator-new/index.php?page=loadPageErr403
ErrorDocument 404 /fisherman-locator-new/index.php?page=loadPageErr404
